.chain-link-control::before {
    content: '.then(() => {';
}

.chain-link::after {
    content: '})';
}

.chain-link-node::after {
    content: 'return Promise.resolve()'
}

.function::after {
    content: '()';
}

.function::before {
    content: 'function ';
}

.block::before {
    content: '{';
}

.block::after {
    content: '}';
}

.declaration::before {
    content: 'const ';
}

.declaration::after {
    content: ';';
}

.string::before, .string::after {
    content: '\'';
}

.variable::before {
    content: attr(data-name);
}

.variable::after {
    content: ' = ';
}

.comment::before {
    content: '/*';
}

.comment::after {
    content: '*/';
}

.chain-link-start::before {
    content: 'return';
}

.chain-link-start::after {
    content: ' ' attr(data-state) '()';
}

.outer::before {
    content: '(function ' attr(data-name) '()';
}

.outer::after {
    content: ')();';
}